<nav class="site-nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="current"{% endif %}>Home</a>
        </li>
        <li class="nav-item">
            <a href="{{ '/entries/' | relative_url }}" {% if page.url contains '/entries' %}class="current"{% endif %}>Entries</a>
        </li>
        <li class="nav-item">
            <a href="{{ '/posts/' | relative_url }}" {% if page.url contains '/posts' %}class="current"{% endif %}>Posts</a>
        </li>
    </ul>
</nav>